</head>
<body>
  <nav>
    <i class="fas fa-plane-departure"></i>
    <a href="/flights/new" class=<%= title === 'Add Flight' ? 'active' : ''  %>
    >
      ADD FLIGHT
    </a>
    <a href="/flights/index" class=<%= title === 'All Flights' ? 'active' : ''  %>
      >
        ALL FLIGHTS
      </a>
  </nav>  

  