<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>
<main>
  <h1><%= title %></h1>

  <h3>You have made an invalid input and your action was not recorded</h3>
</main>
<%- include("../partials/footer") %>